<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwgroup.background.dao.BannerMapper">
  <resultMap id="BaseResultMap" type="com.mwgroup.background.entity.Banner">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="img_url_list" jdbcType="VARCHAR" property="imgUrlList" />
    <result column="banner_scene" jdbcType="VARCHAR" property="bannerScene" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, img_url_list, banner_scene, create_time, update_time, is_deleted
  </sql>

  <!--查询所有图片-->
  <select id="findall" resultType="com.mwgroup.background.entity.Banner">
    select
    <include refid="Base_Column_List" />
    from banner
    where id_deleted = 0
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mwgroup.background.entity.Banner">
    insert into banner (id, img_url_list, banner_scene, 
      create_time, update_time, is_deleted
      )
    values (#{id,jdbcType=INTEGER}, #{imgUrlList,jdbcType=VARCHAR}, #{bannerScene,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mwgroup.background.entity.Banner">
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="imgUrlList != null">
        img_url_list,
      </if>
      <if test="bannerScene != null">
        banner_scene,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imgUrlList != null">
        #{imgUrlList,jdbcType=VARCHAR},
      </if>
      <if test="bannerScene != null">
        #{bannerScene,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mwgroup.background.entity.Banner">
    update banner
    <set>
      <if test="imgUrlList != null">
        img_url_list = #{imgUrlList,jdbcType=VARCHAR},
      </if>
      <if test="bannerScene != null">
        banner_scene = #{bannerScene,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mwgroup.background.entity.Banner">
    update banner
    set img_url_list = #{imgUrlList,jdbcType=VARCHAR},
      banner_scene = #{bannerScene,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>