<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwgroup.background.dao.UserViewMapper">
  <resultMap id="BaseResultMap" type="com.mwgroup.background.entity.UserView">
    <result column="产品名称" jdbcType="VARCHAR" property="产品名称" />
    <result column="用户id" jdbcType="BIGINT" property="用户id" />
    <result column="手机号" jdbcType="VARCHAR" property="手机号" />
    <result column="邮箱" jdbcType="VARCHAR" property="邮箱" />
    <result column="用户名" jdbcType="VARCHAR" property="用户名" />
    <result column="头像" jdbcType="VARCHAR" property="头像" />
    <result column="密码" jdbcType="VARCHAR" property="密码" />
    <result column="用户是否删除" jdbcType="TINYINT" property="用户是否删除" />
    <result column="购买数量" jdbcType="INTEGER" property="购买数量" />
    <result column="产品状态" jdbcType="BIT" property="产品状态" />
    <result column="算力来源" jdbcType="BIT" property="算力来源" />
    <result column="开始时间" jdbcType="TIMESTAMP" property="开始时间" />
    <result column="结束时间" jdbcType="TIMESTAMP" property="结束时间" />
    <result column="产品是否删除" jdbcType="TINYINT" property="产品是否删除" />
    <result column="产品id" jdbcType="BIGINT" property="产品id" />
    <result column="国际" jdbcType="VARCHAR" property="国际" />
    <result column="姓" jdbcType="VARCHAR" property="姓" />
    <result column="名" jdbcType="VARCHAR" property="名" />
    <result column="证件类型" jdbcType="TINYINT" property="证件类型" />
    <result column="证件号码" jdbcType="VARCHAR" property="证件号码" />
    <result column="性别" jdbcType="TINYINT" property="性别" />
    <result column="身份审核状态" jdbcType="TINYINT" property="身份审核状态" />
    <result column="正面图片" jdbcType="VARCHAR" property="正面图片" />
    <result column="反面图片" jdbcType="VARCHAR" property="反面图片" />
    <result column="用户身份是否删除" jdbcType="TINYINT" property="用户身份是否删除" />
  </resultMap>

  <!--显示用户所有数据-->
  <select id="findall" resultType="com.mwgroup.background.entity.UserView">
    select *
    from user_view
  </select>


  <!--根据id查询用户具体数据-->
  <select id="selectById" resultType="com.mwgroup.background.entity.UserView">
    select *
    from user_view
    where 用户id = #{id}
  </select>


  <insert id="insert" parameterType="com.mwgroup.background.entity.UserView">
    insert into user_view (产品名称, 用户id, 手机号, 
      邮箱, 用户名, 头像, 密码, 
      用户是否删除, 购买数量, 产品状态, 算力来源, 
      开始时间, 结束时间, 产品是否删除, 
      产品id, 国际, 姓, 名, 
      证件类型, 证件号码, 性别, 身份审核状态, 
      正面图片, 反面图片, 用户身份是否删除
      )
    values (#{产品名称,jdbcType=VARCHAR}, #{用户id,jdbcType=BIGINT}, #{手机号,jdbcType=VARCHAR}, 
      #{邮箱,jdbcType=VARCHAR}, #{用户名,jdbcType=VARCHAR}, #{头像,jdbcType=VARCHAR}, #{密码,jdbcType=VARCHAR}, 
      #{用户是否删除,jdbcType=TINYINT}, #{购买数量,jdbcType=INTEGER}, #{产品状态,jdbcType=BIT}, #{算力来源,jdbcType=BIT}, 
      #{开始时间,jdbcType=TIMESTAMP}, #{结束时间,jdbcType=TIMESTAMP}, #{产品是否删除,jdbcType=TINYINT}, 
      #{产品id,jdbcType=BIGINT}, #{国际,jdbcType=VARCHAR}, #{姓,jdbcType=VARCHAR}, #{名,jdbcType=VARCHAR}, 
      #{证件类型,jdbcType=TINYINT}, #{证件号码,jdbcType=VARCHAR}, #{性别,jdbcType=TINYINT}, #{身份审核状态,jdbcType=TINYINT}, 
      #{正面图片,jdbcType=VARCHAR}, #{反面图片,jdbcType=VARCHAR}, #{用户身份是否删除,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mwgroup.background.entity.UserView">
    insert into user_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="产品名称 != null">
        产品名称,
      </if>
      <if test="用户id != null">
        用户id,
      </if>
      <if test="手机号 != null">
        手机号,
      </if>
      <if test="邮箱 != null">
        邮箱,
      </if>
      <if test="用户名 != null">
        用户名,
      </if>
      <if test="头像 != null">
        头像,
      </if>
      <if test="密码 != null">
        密码,
      </if>
      <if test="用户是否删除 != null">
        用户是否删除,
      </if>
      <if test="购买数量 != null">
        购买数量,
      </if>
      <if test="产品状态 != null">
        产品状态,
      </if>
      <if test="算力来源 != null">
        算力来源,
      </if>
      <if test="开始时间 != null">
        开始时间,
      </if>
      <if test="结束时间 != null">
        结束时间,
      </if>
      <if test="产品是否删除 != null">
        产品是否删除,
      </if>
      <if test="产品id != null">
        产品id,
      </if>
      <if test="国际 != null">
        国际,
      </if>
      <if test="姓 != null">
        姓,
      </if>
      <if test="名 != null">
        名,
      </if>
      <if test="证件类型 != null">
        证件类型,
      </if>
      <if test="证件号码 != null">
        证件号码,
      </if>
      <if test="性别 != null">
        性别,
      </if>
      <if test="身份审核状态 != null">
        身份审核状态,
      </if>
      <if test="正面图片 != null">
        正面图片,
      </if>
      <if test="反面图片 != null">
        反面图片,
      </if>
      <if test="用户身份是否删除 != null">
        用户身份是否删除,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="产品名称 != null">
        #{产品名称,jdbcType=VARCHAR},
      </if>
      <if test="用户id != null">
        #{用户id,jdbcType=BIGINT},
      </if>
      <if test="手机号 != null">
        #{手机号,jdbcType=VARCHAR},
      </if>
      <if test="邮箱 != null">
        #{邮箱,jdbcType=VARCHAR},
      </if>
      <if test="用户名 != null">
        #{用户名,jdbcType=VARCHAR},
      </if>
      <if test="头像 != null">
        #{头像,jdbcType=VARCHAR},
      </if>
      <if test="密码 != null">
        #{密码,jdbcType=VARCHAR},
      </if>
      <if test="用户是否删除 != null">
        #{用户是否删除,jdbcType=TINYINT},
      </if>
      <if test="购买数量 != null">
        #{购买数量,jdbcType=INTEGER},
      </if>
      <if test="产品状态 != null">
        #{产品状态,jdbcType=BIT},
      </if>
      <if test="算力来源 != null">
        #{算力来源,jdbcType=BIT},
      </if>
      <if test="开始时间 != null">
        #{开始时间,jdbcType=TIMESTAMP},
      </if>
      <if test="结束时间 != null">
        #{结束时间,jdbcType=TIMESTAMP},
      </if>
      <if test="产品是否删除 != null">
        #{产品是否删除,jdbcType=TINYINT},
      </if>
      <if test="产品id != null">
        #{产品id,jdbcType=BIGINT},
      </if>
      <if test="国际 != null">
        #{国际,jdbcType=VARCHAR},
      </if>
      <if test="姓 != null">
        #{姓,jdbcType=VARCHAR},
      </if>
      <if test="名 != null">
        #{名,jdbcType=VARCHAR},
      </if>
      <if test="证件类型 != null">
        #{证件类型,jdbcType=TINYINT},
      </if>
      <if test="证件号码 != null">
        #{证件号码,jdbcType=VARCHAR},
      </if>
      <if test="性别 != null">
        #{性别,jdbcType=TINYINT},
      </if>
      <if test="身份审核状态 != null">
        #{身份审核状态,jdbcType=TINYINT},
      </if>
      <if test="正面图片 != null">
        #{正面图片,jdbcType=VARCHAR},
      </if>
      <if test="反面图片 != null">
        #{反面图片,jdbcType=VARCHAR},
      </if>
      <if test="用户身份是否删除 != null">
        #{用户身份是否删除,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>